{% extends 'billing/base_sidebar.html' %}
{% block title %}Editar Factura{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header bg-dark text-white"><h4>Definir tipo de pago - Factura #{{ object.pk }}</h4></div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
          <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a href="{% url 'creditos_ventas:factura_detail' object.pk %}" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
